[submodule "src/external/plog/plog"]
	path = src/external/plog/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "src/external/Eigen/eigen"]
	path = src/external/Eigen/eigen
	url = https://gitlab.com/libeigen/eigen.git
