[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"

[dev-packages]
sphinxcontrib-bibtex = "*"
sphinx-autoapi = "*"
sphinx-copybutton = "*"
scikit-build = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
build = "*"
twine = "*"

[pipenv]
allow_prereleases = true
