[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
geomat = {file = "."}

[dev-packages]
sphinxcontrib-bibtex = "*"
sphinx-autoapi = "*"
sphinx-copybutton = "*"
scikit-build-core = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
twine = "*"

[pipenv]
allow_prereleases = true
