[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
geomat = {path = "."}

[dev-packages]
sphinxcontrib-bibtex = "*"
sphinx-autoapi = "*"
sphinx-copybutton = "*"
scikit-build = "*"
sphinx-rtd-theme = "*"
sphinx = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
